.footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: white;
  opacity: 0.5;

  a {
    color: white;
  }
}

$breakpoint-phone: 425px;

@media (max-width: $breakpoint-phone) {
  .footer {
    font-size: 14px;
  }
}
