.innerBody {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;

  h1 {
    font-size: 30px;
  }
}

.descriptionContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 15px;
}

.searchContainer {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  input {
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid grey;
    width: 70%;
  }

  input:focus {
    outline: none;
  }

  button {
    background-color: lightskyblue;
    border: none;
    padding: 10px 40px 10px 40px;
    box-sizing: border-box;
    border-radius: 5px;
    cursor: pointer;
    width: 28%;
  }
}

.itemsContainer {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  color: white;
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    background-color: rgb(56, 56, 56);
    border-radius: 2px;
    text-align: left;
    padding: 8px;
    vertical-align: middle;
  }

  th {
    font-weight: bold;
  }

  i {
    font-style: italic;
  }

  .loadingText {
    font-size: 30px;
    color: red;
    font-weight: bold;
  }
}
