.innerContainer {
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.pageButton {
  background-color: #46901a;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  a {
    color: white;
  }
}

$breakpoint-phone: 425px;

@media (max-width: $breakpoint-phone) {
  .pageButton {
    font-size: 14px;
  }
}
