.select {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid grey;
  display: inline-block;
  vertical-align: middle;
}

.title {
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}
