.select {
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid grey;
  display: inline-block;
  vertical-align: middle;
}

.title {
  display: inline-block;
  vertical-align: middle;
}

.container {
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;

  div {
    width: 48%;

    select {
      width: 100%;
      box-sizing: border-box;
    }
    p {
      text-align: center;
      width: 100%;
      margin: 0px;
      margin-bottom: 5px;
    }
  }
}

$breakpoint-mobileM: 375px;

@media (max-width: $breakpoint-mobileM) {
  .container {
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;

    div {
      width: 100%;
      select {
        width: 100%;
      }
      p {
        margin-bottom: 5px;
        width: 20%;
      }
    }
  }
}
