.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.innerContainer {
  width: 20%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;

  div {
    width: 48%;
  }

  select {
    padding: 8px;
    border-radius: 7px;
    text-align: center;
    width: 100%;
    text-align-last: center;

    option {
      text-align: center;
    }
  }
}

$breakpoint-phone: 425px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-laptop-large: 1440px;

@media (max-width: $breakpoint-laptop-large) {
  .innerContainer {
    width: 30%;
  }
}

@media (max-width: $breakpoint-laptop) {
  .innerContainer {
    width: 50%;
  }
}

@media (max-width: $breakpoint-tablet) {
  .innerContainer {
    width: 80%;
  }
}

@media (max-width: $breakpoint-phone) {
  .innerContainer {
    width: 95%;
  }
}
