.singleItem {
  .image {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .imageTD {
    width: 20px;
  }

  .green {
    color: lightgreen;
  }

  .red {
    color: coral;
  }
}
