.singleItem {
  .image {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    height: 50px;
    width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    img {
      max-width: 50px;
      max-height: 50px;
    }
  }

  .imageTD {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
  }

  .green {
    color: lightgreen;
  }

  .red {
    color: coral;
  }

  .productTD {
    max-width: 500px;
  }
}

$breakpoint-mobileM: 375px;

@media (max-width: $breakpoint-mobileM) {
  .brandTD {
    display: none;
  }

  .pricePrUnit {
    display: none;
  }

  .productTD {
    p {
      text-overflow: ellipsis;
    }
  }

  .singleItem {
    .imageTD {
      width: auto;
    }

    .image {
      display: block;
      height: 100%;
      text-align: right;
      margin-right: 0px;

      img {
        height: 100%;
      }
    }
  }
}
