.innerContainer {
  border-radius: 10px;
  background-color: #dbdbdb;
  box-shadow: 0px 0px 4px 0px rgba($color: #000000, $alpha: 0.2);
  width: 250px;
  height: 275px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 15px;
  box-sizing: border-box;
  position: relative;
  transition: ease-in-out 0.2s;

  .image {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    vertical-align: middle;
    height: 50%;
    width: 100%;
    position: relative;

    img {
      height: 100%;
      max-width: 100%;
      object-fit: scale-down;
      aspect-ratio: 220 /122.5;
    }
  }

  .storeImageContainer {
    width: 50px;
    height: 50px;
    position: absolute;
    margin: 0px;
    top: 0px;
    right: 5px;
  }

  .storeImage {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
}

.innerContainer:hover {
  transform: scale(1.015);
}

.textContainer {
  text-align: center;
  color: black;
  height: 50%;
  box-sizing: border-box;

  .title {
    font-size: 20px;
    margin-top: 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .description {
    font-size: 14px;
    margin-top: 5px;
    font-style: italic;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .oldPrice {
    color: #a81a1a;
    text-decoration: line-through;

    margin-top: 10px;
  }

  .currentPrice {
    color: #4da81a;
    font-size: 28px;
    font-weight: bold;
    margin-top: 4px;
    margin-bottom: 4px;
  }

  .saveProcentage {
    color: #479818;
    font-size: 12px;
  }
}
